@model CRUDAjaxDemo.ViewModels.FilesListModel

@{
    ViewBag.Title = "ViewFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewFiles</h2>

@Html.HiddenFor(model => model.LoginUserId)
<table class="table" style="background-color:white;color:black">
    <tr>
        <th>
            <span>Student</span>
        </th>
        <th>
            <span>College</span>
        </th>
        <th>
            <span>Category</span>
        </th>
        <th>
            <span>Projet Name</span>
        </th>
        <th>
            <span>Problem Statement</span>
        </th>
        <th>
            <span>Files</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SynopsysList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SynaopsisHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SynaopsisDescription)
            </td>
            <td>
                @foreach (var files in item.Files)
                {
                    @Html.DisplayFor(model => files.FileName)<br />
                }
            </td>
        </tr>
    }

</table>
